footer {
    background-color: black;
    font-family: "Times New Roman", Times, serif;
    color: white;
    text-align: center;
    position: static;
    padding: 30px;
    margin: 2px;
}
h1 {
    text-align: center;
}

p {
    text-align: center;
    padding: 30px;
    margin-bottom: 200px;
}